.menu{
  ul{
    display: flex;
    color: black;
    text-decoration: none;
    list-style-type: none;
    a{
      color: white;
      padding: 10px 10px;
      border: 1px white solid;
    }
  }
}
